<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orkestrakita.com.orkestradankita">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_apps"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity">
        </activity>
        <activity android:name=".ScannerActivity">
        </activity>
        <activity android:name=".SeatingPlanActivity">
        </activity>
        <activity android:name=".MusicPlayerActivity">
        </activity>
        <activity android:name=".ImageActivity">
        </activity>

    </application>

</manifest>